.mv {
  font-family: 'silkamedium';
}
.mv .header {
  color: rgb(0, 0, 196) !important;
  font-family: 'silkamedium' !important;
}

.mv .result {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-right: 0.1%;
  display: inline-block;
  height: 40px;
  white-space: nowrap;
  position: relative;
  padding: 0px !important;
}
.mv .darkgreen { /*excellent */
  background-color: #007C33 !important;
}
.mv .darkgreen .outgauge { /*excellent */
  color: #007C33 !important;
}
.mv .green { /*tres bien */
  background-color: #00c24f !important;
}
.mv .green .outgauge { /*tres bien */
  color: #00c24f !important;
}
.mv .olive { /* Bien */
  background-color: #7cd63a !important;
}
.mv .olive .outgauge { /* Bien */
  color: #7cd63a !important;
}
.mv .yellow { /* Passable */
  background-color: #fec200 !important;
}
.mv .yellow .outgauge { /* Passable */
  color: #fec200 !important;
}
.mv .orange { /* Mauvais */
  background-color: #fc7700 !important;
}
.mv .orange .outgauge {
	color: #fc7700 !important;
}
.mv .red { /* À rejeter */
  background-color: rgb(178, 6, 22) !important;
}
.mv .red .outgauge {
	color: rgb(178, 6, 22) !important;
}
.mv .outgauge {
	position: relative;
	display: block;
	font-size: 0.7em;
}
.mv .badge {
	padding: 6px;
	color: white;
	font-size: 0.8em;
	margin: 4px;
	border-radius: 6px;
}
.mv .median.label {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.mv .median.dash {
	position: relative;
	right: 50%;
	height: 40px;
	bottom: 40px;
	border-right: 1px dashed black;
}
.mv .block-container {
	max-width: 1000px!important;
}
.mv .majoritygrade {
	border: 3px solid rgb(0, 0, 196);
	height: 34px;
  margin-right: 5px;
}
/* .mv .majoritygrade span {
	padding-left: 20px;
}*/
.mv .bar-row {
  display: flex;
  align-items: stretch;
}
.mv .bar-row .label {
  flex: 0 0 120px;
}

.mv .bar-row .bar-container {
  flex: 0 1 auto;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  margin-right: 5px;
}
.mv .proponents.majority {
  border: 3px solid #005021;
}
.mv .opponents.majority {
  border: 3px solid #661800;
}
.mv .majority .result {
  height: 34px;
}

.mv .bar-row .bar {
  display: flex;
  flex: 0 0;
  justify-content: center;
  align-items: center;
  min-width: 5px;
}
.mv .outgauge.above {
	top: 35px;
}
.mv .outgauge.below {
	top: -30px;
}
